html,
body,
#omap {
    margin: 0; padding: 0;
    height: 100%;
    /*width: 100vw;*/
    width: 100%;
}

a {
    border-bottom: 1px dotted;
}

.site-title {
    font-size: 20px;
}

.topblock {
    height:auto;
    width: 100%;
    position: absolute;
    z-index: 500;
}
.readme{
    background-color: #4CAF50;
    border-bottom-style:solid;
    border-width: 1px;
    color:white;
    padding-left: 2px;
    padding-top: 2px;
}
.whiteText {
    color:white !important;
}
#highred{
    color: red;
}
.fb-like{
    max-height: 20px;
    overflow: hidden;
}
.maptools {
    background-color: #EEEEEEF2;
    border: 1px solid;
    border-color: white;
    z-index: 10;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
}
@media (max-width: 700px) {
    .maptools {
        position: initial;
    }
}
.pretty{
    margin-right:auto !important;
}

.link-style{
    border-bottom: 1px dotted;
}

/*inventory detail*/
.moreBusinessInfo {
    position: relative;
    border-bottom: 1px dotted;
}
.moreBusinessInfo .title {
    position: absolute;
    top: 15px;
    background: #2f3542;
    padding: 4px;
    right: 0;
    white-space: nowrap;
    border-radius: 5px;
    color:#fdfdfd;
    z-index: 1;
}

/*inventory level*/
.inventory-hight{
    background-color: #A5D6A7 !important;
}

.inventory-medium{
    background-color: #FFCC80 !important;
}

.inventory-low{
    background-color: #ef9a9a !important;
}

.inventory-zero{
    background-color: #EEEEEE !important;
}

/*divicon*/
.map-label {
    position: absolute;
    bottom: 0;left: -50%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.map-label-content {
    /*position: relative; left: -50%;*/
    background-color: #fff;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #444;
    padding: 3px;
    white-space: nowrap;
    text-align: left;
    font-size: 14px;
    color: #272626;
}

/*divicon Add this arrow*/
.map-label-arrow {
    width: 0px; height: 0px; /*left: 50%;*/
    border-style: solid;
    border-color: #272626 transparent transparent transparent;
    border-width: 10px 6px 0 6px; /*[first number is height, second/fourth are rigth/left width]*/
    margin: 0 auto;
}
.leaflet-div-icon{
    border: none;
}

/*business hours*/
.tg  {border-collapse:collapse;border-spacing:0;border-color:#bbb;text-align:center;vertical-align:middle;}
.tg th{font-weight:normal;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#bbb;color:#3e3e3d;background-color:#9DE0AD;}
.tg td{padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#bbb;color:#555554;background-color:#E0FFEB;}
.tg .tg-0pky{border-color:inherit;}
.tg .tg-weekend{color:#515050; background-color:#efefef;}
