html,
body,
#omap {
    margin: 0; padding: 0;
    height: 100%;
    /*width: 100vw;*/
    width: 100%;
}
.topblock {
    height:auto;
    width: 100%;
    position: absolute;
    z-index: 500;
}
.readme{
    background-color: #28a746;
    border-bottom-style:solid;
    border-width: 1px;
    color:white;
    padding-left: 2px;
    padding-top: 2px;
}
.readme a {
    color:white;
}
#highred{
    color: red;
}
.fb-like{
    max-height: 20px;
    overflow: hidden;
}
.maptools {
    background-color: #f1f9fba3;
    z-index: 10;
    float: right;
}
/*Wraperclass for the divicon*/
.map-label {
    position: absolute;
    bottom: 0;left: -50%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
/*Wrap the content of the divicon (text) in this class*/
.map-label-content {
    order: 1;
    position: relative; left: -50%;
    background-color: #fff;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #444;
    padding: 3px;
    white-space: nowrap;
    text-align: left;
    font-size: 14px;
}
/*Add this arrow*/
.map-label-arrow {
    order: 2;
    width: 0px; height: 0px; left: 50%;
    border-style: solid;
    border-color: #444 transparent transparent transparent;
    border-width: 10px 6px 0 6px; /*[first number is height, second/fourth are rigth/left width]*/
    margin-left: -6px;
}
.tg  {border-collapse:collapse;border-spacing:0;border-color:#bbb;}
.tg td{font-family:Arial, sans-serif;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#bbb;color:#594F4F;background-color:#E0FFEB;}
.tg th{font-family:Arial, sans-serif;font-weight:normal;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#bbb;color:#493F3F;background-color:#9DE0AD;}
.tg .tg-cly1{text-align:center;vertical-align:middle}
.tg .tg-lboi{border-color:inherit;text-align:center;vertical-align:middle}
.tg .tg-kftd{background-color:#efefef;text-align:center;vertical-align:middle}
.tg .tg-0lax{text-align:center;vertical-align:middle}
.tg .tg-gg7l{background-color:#efefef;text-align:center;vertical-align:middle}
.tg .tg-0pky{border-color:inherit;text-align:center;vertical-align:middle}