html,
body{
    margin: 0; padding: 0;
    height: 100%;
    /*width: 100vw;*/
    width: 100%;
}

.maptools {
    top: 0px;
    z-index: 1031;
    position: absolute;
}

@media (max-width: 700px) {
    .maptools {
        top: initial;
        position: absolute;
    }
}

.whiteText {
    color:white !important;
}
.highred{
    color: red;
}
.fb-like{
    max-height: 20px;
    overflow: hidden;
}

.link-style{
    border-bottom: 1px dotted;
}

/*inventory detail*/
.moreBusinessInfo {
    position: relative;
    border-bottom: 1px dotted;
}
.moreBusinessInfo .title {
    position: absolute;
    top: 15px;
    background: #2f3542;
    padding: 4px;
    right: 0;
    white-space: nowrap;
    border-radius: 5px;
    color:#fdfdfd;
    z-index: 1;
}

/*time level*/
.time-Lv1{
    background-color: #ABC978 !important;
}

.time-Lv2{
    background-color: #FFD666 !important;
}

.time-Lv3{
    background-color: #F3A96D !important;
}

.time-Lv4{
    background-color: #E67C73 !important;
}

/*divicon*/

.leaflet-div-icon {
    width:0;
    height:0;
    border: 0;
    padding: 0;
}
  
.leaflet-div-icon .map-label {
    display:inline-block;
    transform:translate(-50%, -50%);
}
/*
.map-label {
    position: absolute;
    bottom: 0;left: -50%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
*/
.map-label-content {
    /*position: relative; left: -50%;*/
    background-color: #fff;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #444;
    padding: 3px;
    white-space: nowrap;
    text-align: left;
    font-size: 14px;
    color: #272626;
}

/*divicon Add this arrow*/
.map-label-arrow {
    width: 0px; height: 0px; /*left: 50%;*/
    border-style: solid;
    border-color: #272626 transparent transparent transparent;
    border-width: 10px 6px 0 6px; /*[first number is height, second/fourth are rigth/left width]*/
    margin: 0 auto;
}


/*business hours*/
.tg  {border-collapse:collapse;border-spacing:0;border-color:#bbb;text-align:center;vertical-align:middle;}
.tg th{font-weight:normal;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#bbb;color:#3e3e3d;background-color:#9DE0AD;}
.tg td{padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#bbb;color:#555554;background-color:#E0FFEB;}
.tg .tg-0pky{border-color:inherit;}
.tg .tg-weekend{color:#515050; background-color:#efefef;}
